.container1 {
    background: #F3EFE0;
    margin: 20px;
}

.park-btn {
    border-radius: 20pt;
    background: aqua;
}

#park-form {
    margin: 20px;
}

#park-input {
    margin: 20px;
}

.container2 {
    background: #F3EFE0;
    margin: 20px;
}